/*.dataTables_scrollHead table.dataTable thead th, .dataTables_scrollHead table.dataTable thead td {
    padding: 5px 5px !important;
}*/

.dataTables_scrollHead table.dataTable thead tr.search-header th {
    padding: 2px 2px !important;
}


table.dataTable {
    line-height: 1.21857143;
    font-size: 11px !important;
}

table.dataTable a{
    line-height: 1.21857143;
    font-size: 11px !important;
}

    table.dataTable thead th, dataTable.dataTable thead td, table.dataTable tbody th, table.dataTable tbody td {
        /*padding: 5px 5px !important;*/
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    /*table.dataTable tbody th, table.dataTable tbody td {
        padding: 5px 5px;
    }*/
   
    /*table.dataTable thead .sorting::after,
    table.dataTable thead .sorting_asc::after,
    table.dataTable thead .sorting_desc::after,
    table.dataTable thead .sorting_asc_disabled::after,
    table.dataTable thead .sorting_desc_disabled::after {
        bottom: 2px !important;
    }*/

