
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Content/Image/logo_vuha.ico">
</head>
<div class="container content" id="content-layout">
    <div class="title-header"></div>
    <div class="data-content" style="display: flex; flex-direction: column">
        <div class="card-body">
            <div class="d-flex">
                <p class="d-flex flex-column">
                    <span>Thống kê bán hàng</span>
                    <input id="totalBill" readonly/>
                </p>
                <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-success">
                        Tăng trưởng so với năm trước
                        <i class="fas fa-arrow-up">

                        </i><input id="percent" readonly/>
                    </span>
                    
                    <input class="form-control datetime-full" type="text" id="LastYearBtn" style="width:60px"  readonly>
                    <input type="hidden" id="Year" value="@DateTime.Now.Year" />
                </p>
            </div>
            <div class="position-relative mb-4">
                <canvas id="sales"></canvas>
            </div>
            <input type="hidden" value="@Url.Action("AjaxRevenue","Dashboard")" id="UrlChart" />

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        CallAjax();

        
    });
    $("#LastYearBtn").datepicker({
        format: "yyyy",
        viewMode: "years",
        minViewMode: "years"
    });
    $('#LastYearBtn').change(function () {
        var LastYear = (parseInt($('#Year').val()) - 1).toString();
        $('#Year').val(parseInt($('#LastYearBtn').val()));
        CallAjax();
    })
    function renderChart(data1, data2, Year, LastYear) {
        var label1 = "Tổng bill năm " + Year;
        var label2 = "Tổng bill năm " + LastYear;
        let myChart = $('#sales')[0].getContext('2d');
        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';
        let massPopChart = new Chart(myChart, {
            type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                datasets: [{
                    label: label1,
                    data: data1,
                    backgroundColor: 'green',
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 99, 132, 0.6)'
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }, {
                    label: label2,
                    data: data2,
                    //backgroundColor:'green',
                    backgroundColor: [
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(153, 102, 255, 0.6)'
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }],
            },
            options: {
                title: {
                    display: true,
                    text: 'Thống kê bán hàng',
                    fontSize: 25
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                }
            }
        });
    }
    function CallAjax() {
        var kt1 = 0;
        var kt2 = 0;
        
        var Year = $('#Year').val();
        var LastYear = (parseInt(Year) - 1).toString();
        $.ajax({
            url: $('#UrlChart').val(),
            type: 'GET',
            data: {
                year: parseInt(Year)
            },
            dataType: 'json',
            success: function (data1) {
                for (var i = 0; i < data1.length; i++) {
                    kt1 += data1[i];
                }
                $('#totalBill').val(kt1.toString()+" đ")
                $.ajax({
                    url: $('#UrlChart').val(),
                    type: 'GET',
                    data: {
                        year: parseInt(LastYear)
                    },
                    dataType: 'json',
                    success: function (data2) {
                        renderChart(data1, data2, Year, LastYear);
                        for (var i = 0; i < data1.length; i++) {
                            kt2 += data2[i];
                        }
                        var percent = 0.0;
                        if (kt2 != 0 && kt1 != 0) {
                            percent = kt1 / kt2 * 100;
                            $('#percent').val((percent).toString()+"%");
                        }
                        else if (kt1==0) {
                            $('#percent').val("Năm " + Year + " không có dữ liệu");
                        }
                        else {
                            percent = 0;
                            $('#percent').val("Năm " + LastYear + " không có dữ liệu");
                        }
                    }
                });
            }
        });
    }



</script>