
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cập nhật bảo hành</title>
</head>
<body>
    <div class="container content" id="content-layout">
        <form method="post" action="/Product/Insert">
            <div class="title-header">
                <div class="title-grid">
                    <div class="title-flexi-truncate">
                        <div class="title-media">
                            <div class="title-media__figure">
                                <div>
                                    <div class="title-icon" style="background-color: #A094ED">
                                        <span>
                                            <img src="~/Content/CustomCSS/Image/contact_120.png" class="title-icon" alt="Contacts" title="Contacts">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <nav>
                                    <ol class="title-ol">
                                        <li class="title-li">
                                            <span>Bảo hành</span>
                                        </li>
                                    </ol>
                                </nav>
                                <div class="title-grid">
                                    <div class="title-header__title">
                                        <div class="title-name">
                                            <div>
                                                <span>Cập nhật bảo hành</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-content row">
                <div class="col-md-9">
                    <div class="col-md-12">
                        <div class="general-infor margin-top-15">
                            <div class="col-md-12 infor-title">
                                Th&#244;ng tin cơ bản
                            </div>

                            <div class="col-md-12 infor-body" style="padding-top: 25px; padding-left: 100px">

                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Mã bảo hành</label><div class='col-md-8'><input type="text" class="form-control" id='Id'></div>
                                </div>

                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Tên bảo hành</label><div class='col-md-8'><input type="text" class="form-control" name='name'></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Tên hợp đồng</label><div class='col-md-8'><input type="text" class="form-control" name='nameBill'></div>
                                </div>

                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Tên khách hàng</label><div class='col-md-8'><input type="text" class="form-control" name='nameCustormer'></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Tên sản phẩm</label><div class='col-md-8'><input type="text" class="form-control" name='nameProduct'></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>NV bảo hành</label><div class='col-md-8'><input type="text" class="form-control" id='IdUser'></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>File bảo hành</label><div class='col-md-8'><input type="text" class="form-control" name='file'></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Status</label><div class='col-md-8'><input type="text" class="form-control" name='status'></div>
                                </div>
                                <div class="form-group col-md-6 padding-top-10">
                                    <label class='col-md-4 control-label'>Ghi chú</label><div class='col-md-8'><input type="text" class="form-control" name='note'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 " style="padding-left: 200px">
                        <div class="margin-top-30">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 text-center">
                                <button type="submit" class="btn btn-success">
                                    Cập nhật
                                </button>
                                <a href="~/Product/Index" class="btn grey-salt gray" type="button">
                                    <i></i> Hủy
                                </a>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

