.title-li, .title-ol {
    margin: 0;
    padding: 0;
    font-size: 10px
}
.border-bottom {
    height: 38px !important;
}
.title-li, .title-ol {
    list-style: none
}

.title-icon {
    vertical-align: middle;
    background-color: #A094ED
}

.title-icon {
    max-width: 100%;
    height: auto;
    background-color: #A094ED
}

.title-name {
    position: relative;
    display: inline-block;
    padding: 0;
    background: 0 0;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 15px;
    text-decoration: none;
    color: rgba(27,82,151,1);
    /*-webkit-appearance: none;*/
    white-space: normal;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none*/
}

.title-button {
    position: relative;
    display: inline-block;
    padding: 0;
    background: 0 0;
    background-clip: border-box;
    border: 1px solid transparent;
    line-height: 25px;
    text-decoration: none;
    color: rgba(27,82,151,1);
    /*-webkit-appearance: none;*/
    white-space: normal;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none*/
}

.title-button--neutral {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dddbda;
    transition: border .15s linear;
    border-color: #dddbda;
    background-color: #fff
}

    .title-button--neutral:focus, .title-button--neutral:hover {
        background-color: #f4f6f9
    }

    .title-button--neutral:active {
        background-color: #eef1f6
    }

    .title-button--neutral:disabled {
        background-color: #fff;
        cursor: default
    }

.title-icon {
    width: 30px;
    height: 30px;
    fill: #fff
}

.title-header {
    padding: 5px 10px;
    border-bottom: 1px solid #dddbda;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: #f3f2f2;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #dddbda
}

.title-header__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.25;
    display: block
}

.title-grid {
    display: flex
}

.title-flexi-truncate {
    flex: 1 1 0%;
    min-width: 0
}

.title-media {
    display: flex;
    align-items: flex-start
}

.title-media__figure {
    flex-shrink: 0;
    margin-right: .75rem
}

.title-body {
    background-color: #fff
}

.title-body-element__label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    color: #3e3e3c;
    font-size: 12px;
    padding-right: 5px;
    padding-top: 4px;
    margin-bottom: 2px
}

.title-body-element__value {
    font-size: 12px
}

.region-progress, .area-detail {
    background-color: #fff ;
    margin-top: 10px;
}

a[aria-expanded=true] .fa-chevron-right {
    display: none
}

a[aria-expanded=false] .fa-chevron-down {
    display: none
}

.collapse-button {
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 10px;
    width: 38px;
    height: 29px !important;
}

.progress-item > .nav-pills > li.active > a, .progress-item > .nav-pills > li.active > a:focus, .progress-item > .nav-pills > li.active > a:hover {
    border-top-color: transparent !important
}

.progress-item > .nav > li > a {
    padding: 6px 100px;
    background-color: #ecebea !important
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #337ab7 !important
}

.progress-item-first {
    border-bottom-left-radius: 33px !important;
    border-top-left-radius: 33px !important
}

.progress-item-last {
    border-bottom-right-radius: 33px !important;
    border-top-right-radius: 33px !important
}

.slds-path__nav .active:hover:after, .slds-path__nav .active:hover:before {
    background: #00396b
}

.slds-path__nav .slds-path__item:hover:after, .slds-path__nav .slds-path__item:hover:before {
    background: #dddbda
}

.slds-path__nav .active:after {
    background: #005fb2
}

.slds-path__nav .slds-path__item:after, .slds-path__nav .slds-path__item:before {
    background: #ecebea
}

.slds-path__item:before {
    top: 0;
    height: calc((2rem / 2) + .0625rem);
    transform: skew(28deg) translate3d(0,0,0)
}

.slds-path__nav .active:hover:after, .slds-path__nav .active:hover:before {
    background: #00396b
}

.slds-path__nav .slds-path__item:hover:after, .slds-path__nav .slds-path__item:hover:before {
    background: #ecebea !important
}

.slds-path__nav .active:after, .slds-path__nav .active:before {
    background: #005fb2
}

.slds-path__nav .slds-path__item:after, .slds-path__nav .slds-path__item:before {
    background: #ecebea
}

.slds-path__item:after {
    bottom: 0;
    height: 1rem;
    transform: skew(-30deg) translate3d(0,0,0)
}

.slds-path__item:after, .slds-path__item:before {
    content: '';
    position: absolute;
    left: -.3125rem;
    right: -.3125rem;
    cursor: pointer
}

.slds-path__item {
    margin-right: 10px
}

    .slds-path__item:first-child:after, .slds-path__item:first-child:before {
        left: 1.125rem
    }

.slds-path__nav .active:hover .slds-path__link {
    color: #fff
}

.slds-path__nav .active:first-child .slds-path__link {
    height: 2rem
}

.slds-path__link:hover {
    text-decoration: none
}

.slds-path__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: .5rem .25rem .5rem .5rem;
    text-decoration: none;
    z-index: 5;
    cursor: pointer
}

.slds-path__nav .active ::after, .slds-path__nav .active ::before, .slds-path__nav .active:hover:after, .slds-path__nav .active:hover:before {
    background: #337ab7 !important
}

.slds-path__nav .active:after, .slds-path__nav .active:before {
    background: #337ab7
}

.border-bottom {
    border-bottom: 1px solid rgb(221, 219, 218);
    margin-bottom: 0;
    padding-bottom: 5px !important;
    padding-top: 5px !important
}

.area-detail > .nav-tabs-custom > .nav-tabs > li {
    border-bottom: 2px solid transparent !important;
    border-top: none;
    padding-bottom: 5px
}

    .area-detail > .nav-tabs-custom > .nav-tabs > li.active {
        border-bottom-color: #3c8dbc !important;
    }

        .area-detail > .nav-tabs-custom > .nav-tabs > li.active > a {
            height: 55px !important;
        }

    .area-detail > .nav-tabs-custom > .nav-tabs > li > a {
        padding: 15px !important;
    }

.area-detail > .nav-tabs-custom {
    margin-bottom: 0 !important
}

.infor-collapsed {
    display: flex;
    align-items: center;
    background: rgb(243, 242, 242);
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: currentColor;
    font-size: inherit;
    padding: 0 .5rem;
}

    .infor-collapsed[aria-expanded=true] .fa-chevron-right {
        display: none
    }

    .infor-collapsed[aria-expanded=false] .fa-chevron-down {
        display: none
    }

    .infor-collapsed:hover, .infor-collapsed:focus, .infor-collapsed:active {
        background: rgb(238, 241, 246);
        color: inherit;
    }

.region-header, .region-infor, .region-progress, .area-detai, .area-comment, .area-files {
    border-radius: 5px;
}

/*Responsive*/
@media (max-width: 767px) {
    .btn-layout > a {
        padding: 5px !important;
    }

    .progress-item {
        padding: 0 10px !important
    }

        .progress-item > .nav > li > a {
            padding: 6px 1px;
        }

    .region-progress {
        min-height: 150px;
    }

    .tab-content {
        min-height: 150px
    }

    #collapseTwo {
        margin-top: 20px;
    }

    .padding-left-0-sm {
        padding-left: 0px !important
    }

    .slds-path__link {
        font-size: 11px !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .btn-layout > a {
        padding: 5px !important;
    }

    .progress-item {
        padding: 0 10px !important
    }

        .progress-item > .nav > li > a {
            padding: 6px 12px;
        }

    .region-progress {
        min-height: 55px;
    }

    .tab-content {
        min-height: 150px
    }

    .padding-left-0-sm {
        padding-left: 0px !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .progress-item > .nav > li > a {
        padding: 6px 35px !important;
    }
}

@media (min-width: 1200px) and (max-width: 1367px) {
    .progress-item > .nav > li > a {
        padding: 6px 60px !important;
    }
}
/*Dashboard*/
.Dashboard {
    margin-top: 10px !important;
}

/*h4 {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px !important;
}*/

.label-h4 {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px !important;
}

.blue-square-container {
    text-align: center;
}

.blue-square {
    color: #FFFFFF;
    font-size: 30px !important;
    border-style: solid;
    border-color: #FE6F18 !important;
    border-radius: 10px 10px 10px;
    width: 120px;
    height: 50px;
    display: inline-block;
    border-width: 5px;
}

.chart-responsive {
    height: 200px;
}

.indexDashboard {
    height: 200px;
    margin-bottom: 10px;
}
/**/

.table.dataTable thead th {
    border-bottom: none !important;
}

.checkbox-area {
    margin-left: 5px;
    margin-bottom: -25px;
    position: relative;
    z-index: 9999;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #ddd !important;
 
}
.popoverclass {
    cursor: pointer;
}