.title-ol, .title-ul {
    margin: 0;
    padding: 0
}

.title-ol, .title-ul {
    list-style: none
}

.title-icon {
    vertical-align: middle;
    background-color: #A094ED;
}

.title-icon {
    max-width: 100%;
    height: auto
}

.title-name {
    position: relative;
    display: inline-block;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 15px;
    text-decoration: none;
    color: rgba(27, 82, 151, 1);
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.title-button {
    position: relative;
    display: inline-block;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    /*border-radius: 4px;*/
    line-height: 25px;
    text-decoration: none;
    color: rgba(27, 82, 151, 1);
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.title-button--neutral {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -4px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(221, 219, 218);
    transition: border .15s linear;
    border-color: rgb(221, 219, 218);
    background-color: rgb(255, 255, 255)
}

    .title-button--neutral:hover, .title-button--neutral:focus {
        background-color: rgb(244, 246, 249)
    }

    .title-button--neutral:active {
        background-color: rgb(238, 241, 246)
    }

    .title-button--neutral:disabled {
        background-color: rgb(255, 255, 255);
        cursor: default
    }


.title-icon {
    width: 30px;
    height: 30px;
    fill: rgb(255, 255, 255)
}

.title-header {
    padding: 5px 10px;
    border-bottom: 1px solid rgb(221, 219, 218);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: rgb(243, 242, 242);
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    border: 1px solid rgb(221, 219, 218)
}

.title-header__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.25;
    display: block
}

.title-grid {
    display: flex
}

.title-flexi-truncate {
    flex: 1 1 0%;
    min-width: 0
}

.title-media {
    display: flex;
    align-items: flex-start
}

.title-media__figure {
    flex-shrink: 0;
    margin-right: .75rem
}

.title-assistive-text {
    position: absolute !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    text-transform: none !important;
    white-space: nowrap !important
}

.data-content {
    background: #f3f2f2;
    min-height: calc(100vh - 170px);
}


/*Custom*/

.checkbox-area {
    margin-left: 15px;
    /*margin-bottom: -30px;*/
    position: absolute;
    z-index: 999;
}

.advancesearch-area {
    right: 220px;
    position: absolute;
    z-index: 999;
    margin-top: 10px;
}
.search-header th {
    padding-left: 6px !important;
}

/*Dashboard*/
.Dashboard {
    margin-top:10px !important;
}

.text_Dashboard {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px !important;
}

.blue-square-container {
    text-align: center;
}

.blue-square {
    color: #FFFFFF;
    font-size: 50px !important;
    border-style: solid;
    border-color: #FE6F18 !important;
    border-radius: 15px 15px 15px;
    width: 120px;
    height: 70px;
    display: inline-block;
    border-width: 5px;
}
.chart-responsive {
    height: 190px;
}
.indexDashboard {
    height: 190px;
    margin-bottom: 10px;
}
/**/


#exploitedOpp {
    padding-bottom: 20px;
}

.popoverclass {
    cursor: pointer;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
        background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 150ms infinite linear;
            -moz-animation: spinner 150ms infinite linear;
            -ms-animation: spinner 150ms infinite linear;
            -o-animation: spinner 150ms infinite linear;
            animation: spinner 150ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}