.title-body {
    background-color: #fff
}

.region-progress, .area-detail {
    background-color: #fff
}

a[aria-expanded=true] .fa-chevron-right {
    display: none
}

a[aria-expanded=false] .fa-chevron-down {
    display: none
}

.collapse-button {
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 10px;
    width: 38px;
    height: 29px !important;
}

.progress-item > .nav-pills > li.active > a, .progress-item > .nav-pills > li.active > a:focus, .progress-item > .nav-pills > li.active > a:hover {
    border-top-color: transparent !important
}

.progress-item > .nav > li > a {
    padding: 6px 0;
    background-color: #ecebea !important;
    text-align: center;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #337ab7 !important
}

.nav-pills > li.pass > a, .nav-pills > li.pass > a:focus, .nav-pills > li.pass > a:hover {
    color: #fff;
    background-color: rgb(75, 202, 129) !important;
}

.slds-path__nav .pass:after, .slds-path__nav .pass:before {
    background-color: rgb(75, 202, 129) !important;
}

.nav-pills > li.fail > a, .nav-pills > li.fail > a:focus, .nav-pills > li.fail > a:hover {
    color: #fff;
    background-color: rgb(194, 57, 52) !important;
}

.slds-path__nav .fail:after, .slds-path__nav .fail:before {
    background-color: rgb(194, 57, 52) !important;
}

.progress-item-first {
    border-bottom-left-radius: 33px !important;
    border-top-left-radius: 33px !important
}

.progress-item-last {
    border-bottom-right-radius: 33px !important;
    border-top-right-radius: 33px !important
}

.slds-path__nav .active:hover:after, .slds-path__nav .active:hover:before {
    background: #00396b
}

.slds-path__nav .slds-path__item:hover:after, .slds-path__nav .slds-path__item:hover:before {
    background: #dddbda
}

.slds-path__nav .active:after {
    background: #005fb2
}

.slds-path__nav .slds-path__item:after, .slds-path__nav .slds-path__item:before {
    background: #ecebea
}

.slds-path__item:before {
    top: 0;
    height: calc((2rem / 2) + .0625rem);
    transform: skew(28deg) translate3d(0,0,0)
}

.slds-path__nav .active:hover:after, .slds-path__nav .active:hover:before {
    background: #00396b
}

.slds-path__nav .slds-path__item:hover:after, .slds-path__nav .slds-path__item:hover:before {
    background: #ecebea !important
}

.slds-path__nav .active:after, .slds-path__nav .active:before {
    background: #005fb2
}

.slds-path__nav .slds-path__item:after, .slds-path__nav .slds-path__item:before {
    background: #ecebea
}

.slds-path__item:after {
    bottom: 0;
    height: 1rem;
    transform: skew(-30deg) translate3d(0,0,0)
}

.slds-path__item:after, .slds-path__item:before {
    content: '';
    position: absolute;
    left: -.3125rem;
    right: -.3125rem;
    cursor: pointer
}

.slds-path__item {
    margin-right: 10px;
    width: 14.5vw;
}

    .slds-path__item:first-child:after, .slds-path__item:first-child:before {
        left: 1.125rem
    }

.slds-path__nav .active:hover .slds-path__link {
    color: #fff
}

.slds-path__nav .active:first-child .slds-path__link {
    height: 2rem
}

.slds-path__link:hover {
    text-decoration: none
}

.slds-path__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: .5rem .25rem .5rem .5rem;
    text-decoration: none;
    z-index: 5;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;    
    white-space: nowrap;
}

.slds-path__nav .active ::after, .slds-path__nav .active ::before, .slds-path__nav .active:hover:after, .slds-path__nav .active:hover:before {
    background: #337ab7 !important
}

.slds-path__nav .pass ::after, .slds-path__nav .pass ::before, .slds-path__nav .pass:hover:after, .slds-path__nav .pass:hover:before {
    background: rgb(75, 202, 129) !important;
}

.slds-path__nav .fail ::after, .slds-path__nav .fail ::before, .slds-path__nav .fail:hover:after, .slds-path__nav .fail:hover:before {
    background: rgb(194, 57, 52) !important;
}


.slds-path__nav .active:after, .slds-path__nav .active:before {
    background: #337ab7
}

.col-md-1.no-padding.saleStage-infor {
    width: calc(15vw + 5px);
    padding-top: 5px !important;
}

.border-bottom {
    border-bottom: 1px solid rgb(221, 219, 218);
    margin-bottom: 0;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    height: 29px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.area-detail > .nav-tabs-custom > .nav-tabs > li {
    border-bottom: 2px solid transparent !important;
    border-top: none;
    padding-bottom: 5px
}

    .area-detail > .nav-tabs-custom > .nav-tabs > li.active {
        border-bottom-color: #3c8dbc !important;
    }

        .area-detail > .nav-tabs-custom > .nav-tabs > li.active > a {
            height: 55px !important;
        }

    .area-detail > .nav-tabs-custom > .nav-tabs > li > a {
        padding: 15px !important;
    }

.area-detail > .nav-tabs-custom {
    margin-bottom: 0 !important
}

/*.infor-collapsed {
    display: flex;
    align-items: center;
    background: rgb(243, 242, 242);
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: currentColor;
    font-size: inherit;
    padding: 0 .5rem;
    height: 29px !important;
}

    .infor-collapsed[aria-expanded=true] .fa-chevron-right {
        display: none
    }

    .infor-collapsed[aria-expanded=false] .fa-chevron-down {
        display: none
    }

    .infor-collapsed:hover, .infor-collapsed:focus, .infor-collapsed:active {
        background: rgb(238, 241, 246);
        color: inherit;
    }*/

.region-header, .region-infor, .region-progress, .area-detai, .area-comment, .area-files {
    border-radius: 5px;
}

/*Responsive*/
@media (max-width: 767px) {
    .btn-layout > a {
        padding: 5px !important;
    }

    .progress-item {
        padding: 0 10px !important
    }

        .progress-item > .nav > li > a {
            padding: 6px 1px;
        }

    .region-progress {
        min-height: 150px;
    }

    .tab-content {
        min-height: 150px
    }

    #collapseTwo {
        margin-top: 20px;
    }

    .padding-left-0-sm {
        padding-left: 0px !important
    }

    .slds-path__link {
        font-size: 11px !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .btn-layout > a {
        padding: 5px !important;
    }

    .progress-item {
        padding: 0 10px !important
    }

        .progress-item > .nav > li > a {
            padding: 6px 12px;
        }

    .region-progress {
        min-height: 55px;
    }

    .tab-content {
        min-height: 150px
    }

    .padding-left-0-sm {
        padding-left: 0px !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .progress-item > .nav > li > a {
        padding: 6px 35px !important;
    }
}

@media (min-width: 1200px) and (max-width: 1367px) {
    .progress-item > .nav > li > a {
        padding: 6px 60px !important;
    }
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none !important;
}

.edit-date {
    cursor: pointer !important;
}

/*.saleStage-input{}*/

/*Custom date picker*/

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

#saleStage-text {
    width: 100%;
    height: 120px !important;   
}

.role-btn {
    overflow: unset !important;
    padding-top: 0px !important;
}

.slds-path__item:last-child {
    margin-right: 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-right: .625rem;
}

.dropdown-menu > a {
    cursor: pointer
}

.slds-path__item .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip {
    width: 300px !important
}

#SalesDividingTab .border-bottom {
    padding: 5px !important;
    height:initial !important;
}
#SalesDividingTab .border-bottom > div{
    margin-top: 5px !important;
}