
@{
    ViewBag.Title = "InsertDevision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thêm đơn vị</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="~/favicon.ico">
    <link href="~/Content/theme/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/theme/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/theme/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/theme/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/theme/icons/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/theme/plugins/select2-4.0.3/css/select2.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS/Custom_Layout_Backend.css" rel="stylesheet" />


    <script src="~/Content/theme/plugins/jQuery/jquery-2.2.3.min.js"></script>


    <script type="text/javascript" src="~/Content/theme/plugins/notify.js"></script>
    <script src="~/Content/CustomJS/Comment/CommentBackend.js"></script>
    <script src="~/Content/CustomJS/FileUpload/FileUploadBackend.js"></script>
    <link href="~/Content/CustomCSS/Common/CommonModule.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS/FileUpload/FileUploadBackend.css" rel="stylesheet" />

</head>
<body>
    <div class="container content" id="content-layout">

        <link href="~/Content/CustomCSS/Accounts/Edit.css" rel="stylesheet" />
        <link href="~/Content/theme/plugins/DataTables/datatables.css" rel="stylesheet" />
        <form action="~/User/InsertDevision" class="horizontal-form" id="form-request" method="post">
            <div class="title-header">
                <div class="title-grid">
                    <div class="title-flexi-truncate">
                        <div class="title-media">
                            <div class="title-media__figure">
                                <div>
                                    <div class="title-icon" style="background-color: #A094ED">
                                        <span>
                                            <img src="~/Content/CustomCSS/Image/contact_120.png" class="title-icon" alt="Contacts" title="Contacts">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <nav>
                                    <ol class="title-ol">
                                        <li class="title-li">
                                            <span>Đơn vị</span>
                                        </li>
                                    </ol>
                                </nav>
                                <div class="title-grid">
                                    <div class="title-header__title">
                                        <div class="title-name">
                                            <div>
                                                <span>Thêm đơn vị</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-content row">
                <div class="col-md-9">
                    <div class="col-md-12">
                        <div class="general-infor margin-top-15">
                            <div class="col-md-12 infor-title">
                                Th&#244;ng tin cơ bản
                            </div>
                            <div class="col-md-12 infor-body" style="padding-top: 25px; padding-left: 300px">
                                <div class="form-group col-md-12 padding-top-10" id="hoten">
                                    <label class="col-md-5 control-label">Tên phòng ban</label>
                                    <div class="col-md-7">
                                        <input id="" type="text" value="" class="form-control " name="" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 padding-top-10" id="">
                                    <label class="col-md-5 control-label">Số lượng nhân viên</label>
                                    <div class="col-md-7">
                                        <input id="" type="text" value="" class="form-control " name="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 " style="padding-left: 450px">
                        <div class="margin-top-30">
                            <div class="col-md-7 text-center">
                                <button type="submit" class="btn btn-success ">
                                    <i></i> Thêm đơn vị
                                </button>
                                <a href="~/User/IndexDevision" class="btn grey-salt gray" type="button">
                                    <i></i> Hủy
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
