.control-label {
    width: 150px;
    text-align: left!important;
}
.padding-40 {
    padding: 10px 40px;
    width: 75%;
    max-width: 1300px;
    margin: auto;
}
.input-custom-select .select2-container{
    width:100%!important;
}
.back-form-cus{
    min-width:700px;
}
.container.content {
    overflow: auto;
    height: calc(100% - 102px);
}
.table-custom-cat.table > tbody > tr > td {
    line-height: 30px;
}
