/*.fileUpload-wrapper > .dataTables_scroll > .dataTables_scrollBody {
    border-bottom: 1px solid #ddd;
}*/

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #ddd !important;
}
.no-border {
    border-bottom: 1px solid #ddd;
}
