.select2-container {
    width: 100% !important;
}

.legend {
    list-style: none;
    width: 50%;
    margin: 0 auto;
    text-align: left
}

    .legend li {
        float: left;
        margin-right: 10px;
    }

    .legend input[type='checkbox'] {
        float: left;
    }

    .legend span {
        border: 1px solid #ccc;
        float: left;
        width: 12px;
        height: 12px;
        margin: 4px;
    }

    .legend label {
        margin: 2px;
    }

    .legend .submitted-plan {
        background-color: #30dc5f;
    }

    .legend .warning-plan {
        background-color: #ff9e51;
    }

.bootbox button[data-bb-handler='cancel'] {
    float: right;
    margin-left: 10px;
}

.modal-body {
    overflow: auto;
}