.select2-container {
    width: 100% !important;
}

html, body {
    height: 100%;
}

td.history-action {
    position: relative;
    cursor: pointer;
}

    td.history-action:before {
        content: "\f1da";
        font-family: FontAwesome;
        font-size: 30px;
        top: 0;
    }

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1700px;
    }
}

.modal-body {
    overflow: auto;
}