#fof{
    display:block;
    width:100%; 
    margin:120px auto; 
    line-height:1.6em; 
    text-align:center;
    background-image:url(../../theme/images/backgroud-errorpermission.PNG);
    background-repeat: no-repeat;
    height: 270px;
    width: 650px;
}
#fof h3 {
    text-transform:uppercase;

}
#fof h3 {
    padding: 23px; 
    font-size:20px;
    margin-bottom:-17px;

}
#fof #progressBar{
    height: 5px;

} 
#fof p{
    font-size:  17px;

}
