@{
    ViewBag.Title = "IndexBuy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hợp đồng</title>
    <link rel="icon" href="~/Content/Image/logo_vuha.ico">
</head>
<body>
    <div class="container content" id="content-layout">
        <div class="title-header">
            <div class="title-grid">
                <div class="title-flexi-truncate">
                    <div class="title-media">
                        <div class="title-media__figure">
                            <div>
                                <div class="title-icon">
                                    <span>
                                        <img src="~/Content/CustomCSS/Image/contact_120.png" class="title-icon" alt="Contacts" title="Contacts">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <nav>
                                <ol class="title-ol">
                                    <li class="title-li">
                                        <span>Hợp đồng</span>
                                    </li>
                                </ol>
                            </nav><label></label>
                               <div class="title-header__title">
                                    <div class="title-name">
                                        <div>
                                            <span>Danh sách hợp đồng mua hàng</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-content" style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <div style="flex: 0.35">
                        <form method="post" action="~/Product/Index">
                            <div style="display: flex; padding-top: 20px; padding-left: 30px">
                                <select name="statusBill" id="statusBill" style="width: 200px">
                                    <option value="7">Chọn trạng thái hợp đồng</option>
                                    <option value="0">Chưa duyệt</option>
                                    <option value="1">Đã duyệt</option>
                                    <option value="2">Không duyệt</option>
                                    <option value="3">Chờ lấy hàng</option>
                                    <option value="4">Đang vận chuyển</option>
                                    <option value="5">Đã ký lấy hàng còn nợ</option>
                                    <option value="6">Đã hoàn thành</option>
                                </select>
                                <input type="hidden" id="selectStatusOld" value="7" />
                                <input type="hidden" id="selectStatusNew" value="7" />
                            </div>
                        </form>
                    </div>
                    <div style="flex: 0.13; padding-top: 22px" class="chkno">
                        <input type="checkbox" id="chknongan">
                        <label>Nợ ngắn hạn</label>
                    </div>
                    <div style="flex: 0.12; padding-top: 22px">
                        <input type="checkbox" id="chknodai">
                        <label>Nợ dài hạn</label>
                    </div>
                    <input type="hidden" id="chkdebthidden" value="@Url.Action("Ajax_Debt_Status_Buy","Bill")" />
                    <div class="title-grid" style="flex: 0.4; justify-content: flex-end; padding-top: 20px; padding-right: 30px; ">
                        <ul>
                            <li class="btn btn title-button title-button--neutral" onclick="replaceEditAcc()">
                                <a href="~/Bill/Insert">
                                    Th&#234;m mới
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div style="padding-top: 20px">
                    <div style="padding-top: 20px">
                        <table id="example2" class="table table-bordered" style="background-color: white;">
                            <thead>
                                <tr align="center">
                                    <th class="sort_col_table" scope="col"> Mã hợp đồng <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Tên hợp đồng <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> NV phụ trách  <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Tên khách hàng <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> File Hợp đồng <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Ngày lập <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                    <th class="sort_col_table" scope="col"> Active <i class="fa fa-exchange" aria-hidden="true"></i></th>
                                </tr>
                                <tr align="center">
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search1" onkeyup="search1()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search2" onkeyup="search2()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search3" onkeyup="search3()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search4" onkeyup="search4()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search5" onkeyup="search5()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px; border-color: black; padding-bottom: 10px" class="sort_col_table" scope="col">
                                        <input type="text" name="" id="search6" onkeyup="search6()">
                                        <i class="fa fa-search" aria-hidden="true" style="padding-top: 2px"></i>
                                    </th>
                                    <th style="width: 100px">
                                        <label></label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>

<script type="text/javascript">

    function isDelete() {
        var inputVal = $('input').val()
        var inputid = document.getElementById("idin").value;
        var result = confirm("Bạn có chắc chắn muốn xoá không ?");
        var url = '/Product/Delete/' + inputid;
        if (result) {
            window.location.href = url;
        }
    }

</script>
<script src="~/Content/CustomJS/Bill/Index.js"></script>

